.position-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.start-page-container {
  background-color: white;
  color: var(--text);
  padding: 1em 2em;
  border-radius: 8px;
  max-width: 600px;
  margin: 0.8em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.start-page-container h1 {
  font-size: 2.2rem;
  margin-bottom: 0.3em;
  color: #db5461ff;
  text-shadow: 1px 1px 1px #171738ff;
  text-align: center;
}
.start-page-container h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;

  text-align: center;
}
.start-page-container p {
  margin-bottom: 0.8em;
  font-size: 1rem;
}

.start-page-container form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  margin: 0 auto;
  background-color: #ffd9ceff;
  color: #171738ff;
  padding: 1em;
  border-radius: 8px;
  margin-top: 1.5em;
  /* box-shadow: 3px 3px 3px 1px #593c8fff; */
}
.start-page-container form label {
  font-size: 1rem;
  font-weight: 600;
}
.start-page-container form input,
.start-page-container form select {
  padding: 0.4em;
  border-radius: 4px;
  border: 1px solid #171738ff;
  font-size: 1rem;
  background-color: #ffd9ceff;
  color: #171738ff;
}
.start-page-container form input:focus,
.start-page-container form select:focus {
  outline: none;
  border: 2px solid #db5461ff;
}
.start-page-container form button {
  padding: 0.6em 0;
  border-radius: 4px;
  /* border: 1px solid #171738ff; */
  font-size: 1.1rem;
  background-color: #db5461ff;
  color: white;
  width: 100%;
  cursor: pointer;
  border: none;
  margin-top: 0.5em;
}
@media (min-width: 770px) {
  .position-center {
    height: 100vh;
    margin-top: 0;
  }
  .start-page-container {
    padding: 2em;
  }
  .start-page-container h1 {
    font-size: 3rem;
  }
  .start-page-container h2 {
    font-size: 2rem;
  }
  .start-page-container p {
    font-size: 1.2rem;
  }
  .start-page-container form {
    width: 80%;

    font-size: 1.2rem;
  }
  .start-page-container form label {
    font-size: 1.2rem;
  }
  .start-page-container form input,
  .start-page-container form select {
    font-size: 1.2rem;
  }
  .start-page-container form button {
    font-size: 1.2rem;
  }
}
